<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja</string>
	<key>CFBundleDisplayName</key>
	<string>わから v2 練習帳</string>
	<key>CFBundleExecutable</key>
	<string>WakaraPractice</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.yuhkis.wkr-practice</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WakaraPractice</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2026 Yuhki Shiraishi. MIT License.</string>
	<key>WKRReleaseVersion</key>
	<string>0.2.0</string>
	<key>WKRLayoutVersion</key>
	<string>2.0.0-beta.1</string>
	<key>WKRPracticeVersion</key>
	<string>0.2.0</string>
</dict>
</plist>
